.App  {
  
  margin:0;
  padding:0;
  text-align: center;
  background: grey;
  color: antiquewhite;
  /* height:100% ; */
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: baseline;
  background: lightgoldenrodyellow;
  color: #282c34;
}

header span{
  margin-right:20px ;
}
header a {
  padding: 10px;
}

.card {
  
  margin: 10px;
  width: 300px;
  padding:10px;
  max-height: auto;
  border: 2px solid #282c34;
  border-radius: 15px;
  background: deeppink;
}
.card p{
  text-align: left;
  padding-left: 15px;
}
.cont2{
  display: flex;
}
.bt1{
  position: absolute;
  left: 50%;
  top: 80%;
}
.cardCont{
display: flex;
  padding:20px;
  
}
.butn{
  display: flex;
  justify-content: center;
}
ul{
  text-align: left;
}
.container {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
img {
  
  padding:10px;
  max-width: 60%;
}
.container div p{
  max-width: 120px;
}

.product-item{
padding: 5px;
margin: 10px;
width: 30%;
border: 1px solid lightgoldenrodyellow ;
min-width: 300px;
}

.cartField{
  display: flex;
  flex-wrap: wrap;
}