
.toggle-checkbox{
  height: 50px;
  width: 50px;
  opacity: 0;
}
.toggle{
  height: 40px;
  width: 40px;
  position: absolute;
  border-radius: 20px;
  background-color: rgb(160, 16, 153);
  right: 58%;
  transition: all .4s;
}
.toggle-switch{
  border: solid 2px rgb(160, 16, 153);
  position: relative;
  display: inline-block;
  border-radius: 40px;
  padding: 3px;
  width: 100px;
  height: 40px;
}
.toggled
  .toggle{
    right: 3px;
  }